.alert {
  position: relative;
  padding: 8px 24px;
  margin-bottom: 16px;
  border: 1px solid transparent;
  border-radius: 36px;
}
.alert.alert--error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}